# dependencies installed by npm
node_modules

# build artefacts
public
.vscode
netlify/functions/serverless/**
!netlify/functions/serverless/index.js
_data/localposts.js

# secrets and errors
.env
.log

# macOS related files
.DS_Store


# Local Netlify folder
.netlify