---
layout: base
permalink:
  serverless: /search/
eleventyComputed:
  title: "Search {% if eleventy.serverless.query.search %}Results{% else %}Posts{% endif %}"
---

{% set searchTerm = eleventy.serverless.query.search %}



{% include "searchform.njk" %}

{% if searchTerm %}
<h2>Search for: {{ searchTerm }}</h2>
<p>{{ posts | results(searchTerm) | length }} results</p>

<ul class="posts">
{% for key, post in posts | results(searchTerm) %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endif %}